.results
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}

.badge
{
    margin:1px
}

.result-types-title
{
    margin-right: 5px;
}

.jumbotron /* override */
{
    padding: .5rem;
}

.card-body /* override */
{
    background: white;
    color: black;
    font-size: .8rem;
    padding: 1rem;
}

.card-header /* override */
{
    font-size: 0.9rem;
}